@media all and (max-width: 1240px) {
  .lesson {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .facebook {
    margin-bottom: 10px;
  }

  .top-wrapper {
    text-align: left;
  }

  .header-right {
    display: none;
  }

  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }
}
